@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <NavMenu />
    </div>

    <main>
        <div class="container">
        <article class="content px-4">
            @Body
        </article>
        </div>
    </main>
</div>
