<div class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">//Build Tag</a>
        <span class="navbar-text">
            SQL bindings + Blazor
        </span>
        <div class="d-flex">
            <a href="https://aka.ms/sqlbindings-tag" target="_blank" class="btn btn-outline-repo">About</a>
        </div>
    </div>
</div>